<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6 text-center">
      <h4> Burgers awaiting to be eaten</h4>
      {{#each results}}
      {{#unless this.devoured}}
      <div style="border:1px solid gray;">
        <h5>{{this.burgerName}}</h5>
        <form method="post" action="/devour/{{this.burgerName}}"">
          <button type="submit" class="btn btn-default">CONSUME THIS BURGER!</button>
        </form> 
      </div>
   {{/unless}}
   {{/each}}
    </div>
    <div class="col-md-6">
      <h4 class="text-center"> Hall of eaten burgers </h4>
     {{#each results}}
     {{#if this.devoured}}
      <div class='text-center'>
        <span>{{this.burgerName}} </span>
      </div>
   {{/if}}
   {{/each}}
    </div>
    <div class="col-md-4 col-md-offset-4">
      <h2> enter burger name below</h2>
      <form action="/newburger" method="POST" >
        <input class="form-control" type="text" name="burgerName" value="">
        <button type="submit">CREATE!</button>
      </form>
    </div>
  </div>
</div>



